{% extends 'layout/master.html.twig' %}

{% block title %}Task List - {% endblock %}

{% block prebody %}
    {% include 'includes/menu.html.twig' %}
{% endblock %}

{% block contents %}

    <h2>Task List</h2>

    <hr>

    <p style="text-align: right;">Filter:
        <select id="task_status" onclick="changeType()">
            <option value="all">All Tasks</option>
            <option value="done">Done Tasks</option>
            <option value="undone">Undone Tasks</option>
        </select>
    </p>

    {% if(tasks|length > 0) %}
        <table class="table table-striped">
            <thead>
            <th>ID</th>
            <th>Task Name</th>
            <th>Description</th>
            <th>Operations</th>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.title }}</td>
                    <td><i>{{ task.description }}</i></td>
                    <td>
                        {% if task.isDone() %}
                            <a class="btn btn-sm btn-warning" href="{{ path('task_mark', { taskId: task.id , status : 'undone' }) }}">Mark as Undone</a>
                        {% else %}
                            <a class="btn btn-sm btn-success" href="{{ path('task_mark', { taskId: task.id , status : 'done' }) }}">Mark as Done</a>
                        {% endif %}
                        <a href="{{ path('task_edit', { taskId : task.id}) }}" class="btn btn-sm btn-info">Edit</a>
                        <a href="{{ path('task_remove', { taskId : task.id}) }}" onclick="return confirm('Are you sure to delete this task?')" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No {% if (type != 'all') %} "{{ type }}" {% endif %} tasks for you right now.</p>
    {% endif %}

    <script>
        function changeType()
        {
            window.location.href = '{{ path('task_list') }}/' + jQuery('#task_status').val();
        }

        jQuery(document).ready(function(){
            $('#task_status').val('{{ type }}');
        });
    </script>

{% endblock %}